@model IEnumerable<DoctorAppointment.Models.DoctorInfo>

@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AppointmentDays</h1>

<p>
    @*<button asp-asp-controller="Appointment" asp-action="BookAppointment">NewAppointment</button>*@
    <button onclick=location.herf=@Url.Action("Appointment", "BookAppointment")'">New Appointment</button>

    
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.DoctorFee)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AvailableDates)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.DoctorFee)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AvailableDates)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
           
         
        </tr>
}
    </tbody>
</table>
