@using System.Web;
@using Microsoft.AspNetCore.Http;
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
@{
    var Getrole = Context.Session.GetString("Role");
    if ( Getrole == "Patient")
    {

        Layout = "~/Views/Shared/Medicr_PatientLayout.cshtml";

    }

    else { 
        Layout = "~/Views/Shared/Medicr_Index.cshtml";
    }
    // Layout = null;
    // Layout = "~/Views/Shared/Medicr_Index.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/DoctorAppointment.styles.css" asp-append-version="true" />*@
<link rel="stylesheet" href="~/css/bootstrap.min.css">

@*<script src="~/GettingRecordDoctors.js"></script>*@


@*<a href="@Url.Action("BookAppointment")" class="btn btn-primary">New Appointment</a>*@


<h1>Book Appointment By Days</h1>
<div class="modal" tabindex="-1" role="dialog" id="modal-form" style="border-block-color">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Doctors Information </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*View Return Display*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--<table class="table table-bordered table-dark table-striped">
    <tr>

        <td>
            <button class="btn-style-one rounded-pill" id="button1" value="@DateTime.Now.DayOfWeek">@DateTime.Now.DayOfWeek</button>
        </td>

        <td>

            <button class="btn-style-one rounded-pill" id="button2" value="@DateTime.Now.AddDays(1).DayOfWeek">@DateTime.Now.AddDays(1).DayOfWeek</button>
        </td>

        <td>

            <button class="btn-style-one rounded-pill" id="button3" value="@DateTime.Now.AddDays(2).DayOfWeek">@DateTime.Now.AddDays(2).DayOfWeek</button>
        </td>
    </tr>

    <tr>
        <td>
            <button class="btn-style-one rounded-pill" id="button4" value="@DateTime.Now.AddDays(3).DayOfWeek">@DateTime.Now.AddDays(3).DayOfWeek</button>
        </td>

        <td>
            <button class="btn-style-one rounded-pill" id="button5" value="@DateTime.Now.AddDays(4).DayOfWeek">@DateTime.Now.AddDays(4).DayOfWeek</button>
        </td>

        <td>
            <button class="btn-style-one rounded-pill" id="button6" value="@DateTime.Now.AddDays(5).DayOfWeek">@DateTime.Now.AddDays(5).DayOfWeek</button>
        </td>

    </tr>

    <tr>
        <td>
            <button class="btn-style-one rounded-pill" id="button7" value="@DateTime.Now.AddDays(6).DayOfWeek">@DateTime.Now.AddDays(6).DayOfWeek</button>
        </td>
    </tr>-->

    @*<tr>
            <td>
                <input type="text" id="textbox1" readonly>
            </td>
        </tr>*@

<!--</table>-->

<div id="availableDoctors"></div>

<table class="table table-bordered table-dark table-striped">
        <tr>

            <td>
                <button class="btn-style-one rounded-pill" id="button1" value="@DateTime.Now.Date.ToString("dd-MM-yyyy")">@DateTime.Now.DayOfWeek</button>
            </td>

            <td>

                <button class="btn-style-one rounded-pill" id="button2" value="@DateTime.Now.AddDays(1).Date.ToString("dd-MM-yyyy")">@DateTime.Now.AddDays(1).DayOfWeek</button>
            </td>

            <td>

                <button class="btn-style-one rounded-pill" id="button3" value="@DateTime.Now.AddDays(2).Date.ToString("dd-MM-yyyy")">@DateTime.Now.AddDays(2).DayOfWeek</button>
            </td>
        </tr>

        <tr>
            <td>
                <button class="btn-style-one rounded-pill" id="button4" value="@DateTime.Now.AddDays(3).Date.ToString("dd-MM-yyyy")">@DateTime.Now.AddDays(3).DayOfWeek</button>
            </td>

            <td>
                <button class="btn-style-one rounded-pill" id="button5" value="@DateTime.Now.AddDays(4).Date.ToString("dd-MM-yyyy")">@DateTime.Now.AddDays(4).DayOfWeek</button>
            </td>

            <td>
                <button class="btn-style-one rounded-pill" id="button6" value="@DateTime.Now.AddDays(5).Date.ToString("dd-MM-yyyy")">@DateTime.Now.AddDays(5).DayOfWeek</button>
            </td>

        </tr>

        <tr>
            <td>
                <button class="btn-style-one rounded-pill" id="button7"  value="@DateTime.Now.AddDays(6).Date.ToString("dd-MM-yyyy")">@DateTime.Now.AddDays(6).DayOfWeek</button>
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" id="textbox1" readonly>
            </td>
        </tr>

    </table>

<h1>Book Appointment By Departments</h1>
<table class="table table-bordered table-dark table-striped">

    <tr>
        <td>
            @foreach (var department in ViewBag.Departments)
            {
                @*<a href="@Url.Action("Check", "Appointment", new { department = department })">
                        <button class="btn-success">@department</button>
                    </a>*@
                <button class="btn-style-one rounded-pill" onclick="OpenDepartment('@department')">@department</button>
            }
        </td>
    </tr>


    @*<tr>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="1">Cardiology</button>
            </td>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="2">Micro</button>
            </td>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="3">Physiology</button>
            </td>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="4">Emergency</button>
            </td>


        </tr>*@


</table>

@*<table class="table table-bordered table-dark table-striped">
        <tr>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="1">Cardiology</button>
            </td>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="2">Micro</button>
            </td>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="3">Physiology</button>
            </td>
            <td>
                <button class="btn-success" onclick="OpenDepartment(this.value)" value="4">Emergency</button>
            </td>


        </tr>
    </table>*@


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function OpenDepartment(department) {

        $.ajax({
            type: "GET",
            url: "/Appointment/Check",
            data: { department: department },
            success: function (result) //Pura view uth kr ajaiga Appointment/AppointmentDays"
            {
                $('#modal-form .modal-body').html(result);
                //alert(result);
                $('#modal-form').modal('show');

            }

        })
    }


    $(function () {
        $('#button1, #button2,#button3, #button4, #button5, #button6,  #button7').click(function () {
            var dayOfWeek = $(this).text();
            var dateOfWeek = $(this).val();

            //$(this).value().dayOfWeek.
        $.ajax({
            url: '@Url.Action("GetAvailableDoctors", "DoctorInfoes1")',
            type: 'GET',
            data: { dayOfWeek: dayOfWeek, dateOfWeek: dateOfWeek},
            success: function (result) {
                $('#modal-form .modal-body').html(result);
                $('#modal-form').modal('show');
            },
            error: function () {
                alert('An error occurred while getting the list of available doctors.');
            }
        });
    });
});



  //   $(document).ready(function() {
  //       $('#button1, #button2,#button3, #button4, #button5, #button6,  #button7').click(function() {
  //    var buttonValue = $(this).val();
  //    $('#textbox1').val(buttonValue);
  //  });
  //});










    function OpenPopup(Day) @*Ajax call javascript ja ander ajax call hogi *@
    {

        $.ajax({
            type:"GET",
            url:"/Appointment/AppointmentDays",
            data:{day:Day},
        success: function(result) //Pura view uth kr ajaiga Appointment/AppointmentDays"
            {
            $('#modal-form .modal-body').html(result);
            $('#modal-form').modal('show');
            }
        })
        }

</script>


