@using System.Web;
@using Microsoft.AspNetCore.Http;


@model IEnumerable<DoctorAppointment.Models.DoctorInfo>

@{
    Layout = null;
    var Getrole = Context.Session.GetString("Role");
    var PatID = Context.Session.GetString("Patient");
}
<div class="modal" tabindex="-1" role="dialog" id="modal-form">
    <div class="modal-dialog s" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*View Return Display*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

@if (!Model.Any())
{
    <p>   No doctors are available on the selected day. </p>
}


else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoctorFee)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.WeekdaysId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Name)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
              

                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorFee)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.WeekdaysId)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>

                <td>
                    @if (Getrole == "Patient")
                    {
                    <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("BookApppointmentByPatient","PatientInfoes", new { id = item.DepartmentId })'">Book_My_Appointment</button>

                       // <a type="button" class="btn-style-one rounded-pill" asp-route-id="@item.DoctorId" asp-controller="PatientInfoes" asp-action="BookApppointmentByPatient"> Book_My_Appointment</a>
                        // <a asp-action="Edit" asp-route-id="@item.DoctorId" class="btn btn-primary">Edit</a>
                    }
                    else
                    {
                        <a type="button" class="btn-style-one rounded-pill" asp-controller="PatientInfoes" asp-action="BookApppointmentByPatient"> Book_My_Appointment</a>

                    }

                </td>
            </tr>
            }
        </tbody>
    </table>
}
@*@if (Model.Count == 0)
    {
        <p>No doctors are available on the selected day.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Department</th>
                    <th>Fee</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                    <tr>
                        <td>@($"{doctor.First_Name} {doctor.Last_Name}")</td>
                        <td>@doctor.Department.DepartmentName</td>
                        <td>@doctor.DoctorFee</td>
                        <td>@doctor.ContactNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    }*@
